<h3>Sock's name: <%= @product.name %></h3>
<p>Cost: $ <%= format('%.2f', @product.cost) %></p>
<p>Country of Origin: <%= @product.country_of_origin %></p>
<p>Featured Sock: <%= @product.featured %></p>
<p>Admin: <%= link_to "Edit Sock", edit_product_path(@product) %> | <%= link_to "Delete Sock", product_path, :data => {
      :confirm => "You sure?", :method => "delete"
    } %></p>
<hr>

<h3>Reviews</h3>
  <% if @product.reviews.any? %>
  <ul>
  <% @reviews.each do |review| %>
    <h5><%= review.author %></h5>
    <li><%= review.content_body %></li>
    <li><%= review.rating %> out of 5 socks</li>
    <br>
  <% end %>
  </ul>
  <% else %>
  <p>There are no reviews...yet!</p>
<% end %>
<h4><%= link_to "Add a Review", new_product_review_path(@product)  %></h4>
<hr>

<h4><%= link_to "Go Home", products_path %></h4>
