<%= render "layouts/errors", :object => @review %>


<%= form_for [@product, @review] do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>
    <div class="col-md-6">
      <%= f.label :content_body, "Review" %>
      <%= f.text_area :content_body, size: "50x5" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <%= f.label :rating %>
    <%= f.select :rating, [1, 2, 3, 4, 5] %>
    <br><br>
    <%= f.submit "Add Review"%>
    </div>
  </div>
</div>
<% end %>

<h4><%= link_to "Go Home", products_path %></h4>
